table {
    background: #f5e8d0; /* Цвет фона таблицы */
    border-spacing: 0; /* Расстояние между ячеек */
    margin-top: 10vh;
}
th {
    background: #496791; /* Цвет фона ячеек */
    color: #fff; /* Цвет текста */
}
td, th {
    padding: 5px 10px; /* Поля в ячейках */
}

img{
    width: 50px;
    height: 50px;
}
